#puzzle {
    width: 730px;
    padding: 5px;
    margin: auto;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    background-color: #eeeeee;
}

#puzzle figure {
    width: 510px;
    height: 678px;
    border: 1px solid #aaaaaa;
    position: relative;
    float: left;
    background-color: #ffffff;
}

#ui {
    padding: 10px 0 0 10px;
    float: left;
}

#ui button {
    margin-bottom: 2em;
}

#ui p {
    font-size: 1.7em;
}

#start {
    width: 204px;
    height: 50px;
    font-size: 1.75em;
}