/*BODY STYLE:*/
	body{
	background-image: url("quest.jpg");
	width: 95%;
	height: 100%;
}
	div{
	padding:20px;
	margin: 20px;
}
	.cont{
	display: flex;
}




/* The WATCH STYLE*/
	#watch{
	background-color: rgba(50,50,50,0.5);
	position: fixed;
	right: 20px;
	bottom: 10px;
	width: 200px;
    padding:5px;
    border:5px solid white;
    font-family:serif;
    border-radius:30px;
}
	#date{
	color: LightSkyBlue;
    text-align:center;
    padding:5px;
    border:2px lightskyblue;
    font-family:serif;
    border-radius:30px;
	font-size: 18px;
}
	#time{
    text-align:center;
    font-family:serif;
	color: LightSkyBlue;
    letter-spacing:2px;
    font-size:30px;
    text-shadow:5px 3px 25px white;
    padding:5px;
    border:2px lightskyblue;
    border-radius:30px;
}




/* THE INDEX STYLE*/
	.main{
	color: white;
	border: 5px solid white;
	border-radius: 30px;
	font-size: 20px;
	background-color: rgba(50,50,50,0.5);

	max-width: 500px;
}
	.rules{
	color: white;
	font-size: 20px;
	border: 5px solid white;
	border-radius: 30px;
	max-width: 700px;
	background-color: rgba(50,50,50,0.5);
	flex= 1;
}
	#but{
	color: LightSkyBlue;
	position:fixed;
	top: 400px;
	left: 480px;
	text-align:center;
	width: 165px;
	border: 5px solid white;
	border-radius: 30px;
	font-size: 20px;
	background-color: rgba(50,50,50,0.5);
}





/*THE QUEST STYLE*/
	#space{
	position: fixed;
	top: 40px;
	left: 40px;
	border: 5px solid white;
	border-radius: 30px;
	background-color: rgba(50,50,50,0.5);
	font-size: 20px;
	width: 250px;
	height: 150px;
	text-align:center;
	flex= 1;
}
	#space p{
	color: LightSkyBlue;
}
	#earth{
	position: fixed;
	top: 40px;
	left: 380px;
	border: 5px solid white;
	border-radius: 30px;
	background-color: rgba(50,50,50,0.5);
	font-size: 20px;
	width: 250px;
	height: 150px;
	text-align:center;
}
	#earth p{
	color: LightSkyBlue;
}
	#sea{
	position: fixed;
	top: 40px;
	left: 720px;
	border: 5px solid white;
	border-radius: 30px;
	background-color: rgba(50,50,50,0.5);
	font-size: 20px;
	width: 250px;
	height: 150px;
	text-align:center;
}
	#sea p{
	color: LightSkyBlue;
}
	#countries{
	position: fixed;
	top: 290px;
	left: 40px;
	border: 5px solid white;
	border-radius: 30px;
	background-color: rgba(50,50,50,0.5);
	font-size: 20px;
	width: 250px;
	height: 150px;
	text-align:center;
}
	#countries p{
	color: LightSkyBlue;
}
	#people{
	position: fixed;
	top: 290px;
	left: 380px;
	border: 5px solid white;
	border-radius: 30px;
	background-color: rgba(50,50,50,0.5);
	font-size: 20px;
	width: 250px;
	height: 150px;
	text-align:center;
}
	#people p{
	color: LightSkyBlue;
}
	#animals{
	position: fixed;
	top: 290px;
	left: 720px;
	border: 5px solid white;
	border-radius: 30px;
	background-color: rgba(50,50,50,0.5);
	font-size: 20px;
	width: 250px;
	height: 150px;
	text-align:center;
}
	#animals p{
	color: LightSkyBlue;
}
	.scores{
	color: LightSkyBlue;	
	position: fixed;
	top: 40px;
	right: 5px;
	border: 5px solid white;
	border-radius: 30px;
	background-color: rgba(50,50,50,0.5);
	font-size: 20px;
	width: 165px;
	text-align:center;
}
	.back{
	color: LightSkyBlue;	
	position: fixed;
	top: 290px;
	right: 5px;
	border: 5px solid white;
	border-radius: 30px;
	background-color: rgba(50,50,50,0.5);
	font-size: 20px;
	width: 165px;
	text-align:center;
}




/* THE BLANK STYLE*/
	ul{
	color: white;
	padding: 10px;
	border: 5px solid white;
	border-radius: 30px;
	background-color: rgba(50,50,50,0.5);
	font-size: 20px;
}
	#quest{
	padding: 10px;
	width: 500px;
	height: 100px;
	color: white;
	border: 5px solid LightSkyBlue;
	border-radius: 30px;
	text-align: center;
}
	#answer1{
	padding: 10px;
	width: 500px;
	height: 100px;
	color: white;
	border: 5px solid LightSkyBlue;
	border-radius: 30px;
}
	#answer2{
	padding: 10px;
	width: 500px;
	height: 100px;
	color: white;
	border: 5px solid LightSkyBlue;
	border-radius: 30px;
}
	#answer3{
	padding: 10px;
	width: 500px;
	height: 100px;
	color: white;
	border: 5px solid LightSkyBlue;
	border-radius: 30px;
}
